{% load helpers %}

<div class="posts-view">
  {% for post in page_obj %}
    <div class="container-div post-container" data-postid="{{ post.id }}" data-liked="{{ post in user.liked.all|yesno:'true,false' }}">
      <div class="post-metadata">
        Posted by <a href="{% url 'profile_view' post.author %}"><span class="post-author">{{ post.author }}</span></a> ·
        <span class="post-timestamp">{{ post.posted_at|format_date }}</span><span class="post-modified">{% if post.modified %}
          · Edited ({{ post.modified_at|format_date }})
        {% endif %}</span>
      </div>
      <div class="post-content">{{ post.content|linebreaksbr }}</div>
      <div class="post-likes">
        <div class="like-button">
          <i class="fa-regular fa-thumbs-up"></i>
        </div><span class="like-count">{{ post.likes.count }}</span> likes
      </div>

      {% if request.user == post.author %}
        <div class="edit-post">Edit this post</div>
      {% endif %}
    </div>
  {% endfor %}
  {% block pagination %}
    {% include 'network/pagination.html' %}
  {% endblock %}
</div>
