{% load helpers %}

<div class="posts-view">
  {% for post in page_obj %}
    <div class="post-container">
      <div class="post-metadata">
        <a href="{% url 'profile_view' post.author %}"><span class="post-author">{{ post.author }}</span></a> ·
        <span class="post-timestamp">{{ post.posted_at|format_date }}</span>
      </div>
      <div class="post-content" id="{{ post.id }}">{{ post.content|linebreaksbr }}</div>
      <div class="post-likes">{{ post.likes.count }} likes</div>

      {% if request.user == post.author %}
        <button class="btn btn-sm btn-outline-primary edit-post" id="editPost{{ post.id }}" href="">Edit this post</button>
      {% endif %}

    </div>
  {% endfor %}
  {% block pagination %}
    {% include 'network/pagination.html' %}
  {% endblock %}
</div>
