{% extends 'network/layout.html' %}
{% load helpers %}

{% block body %}
  <div class="container-div user-info" data-userid="{{ user.id }}" data-followed="{{ request.user|is_following:user }}">
    <span class="username"><i class="fa-regular fa-circle-user"></i> {{ user.username }}</span>
    <span class="date-joined"><i class="fa-regular fa-calendar"></i> Joined {{ user.date_joined.date }}</span>
    <span><i class="fa-regular fa-pen-to-square"></i> {{ user.posts.all.count }} Total Posts</span>
    <div class="follow-stats">
      <span class="followers"><i class="fa-regular fa-heart"></i> <span class="follower-count">{{ user.follower.all.count }}</span> Followers</span>
      <span class="following"><i class="fa-regular fa-square-plus"></i> <span class="follower-count">{{ user.following.all.count }}</span> Following</span>
    </div>
    {% if user != request.user %}
      <button class="btn btn-primary follow-button" value="Follow">Follow</button>
    {% endif %}
  </div>

  {% if user.posts %}
    {% block posts %}
      {% include 'network/posts-block.html' %}
    {% endblock %}
  {% else %}
    No Posts.
  {% endif %}
{% endblock %}
