:root {
    --dark-theme-container: rgb(26, 26, 27);
    --dark-theme-container-border: rgb(52, 53, 54);
    --dark-theme-container-text: rgb(215, 218, 220);
}

body {
    background-color: black;
    font-family: 'Quicksand', sans-serif;
}

.navbar {
    background-color: var(--dark-theme-container) !important;
    border-bottom: 1px solid var(--dark-theme-container-border);
    font-weight: bolder;
}

.navbar-brand,
.nav-link {
    color: var(--dark-theme-container-text) !important;
}

.page-link {
    background-color: var(--dark-theme-container) !important;
    color: var(--dark-theme-container-text) !important;
}

.posts-view {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 40px;
}

.post-container {
    background-color: var(--dark-theme-container) !important;
    border: 1px solid var(--dark-theme-container-border);
    border-radius: 5px;
    color: var(--dark-theme-container-text) !important;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.editor-container {
    display: none;
}

.like-button {
    cursor: pointer;
    display: inline;
    position: absolute;
}

.like-count {
    margin-left: 20px;
}

.fa-thumbs-up:hover {
    color: #007bff;
}

/* Keyframes */

@keyframes fade {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes jump-up {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}
