.posts-view {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px;
}

.post-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.editor-container {
    display: none;
}

.like-button {
    display: inline;
    cursor: pointer;
}

.like-button:hover {
    color: #007bff;
}
